body{
  
}

.contentContainer{
  width:80%;
  margin: 0 auto;
  background-color: #C5C5C5;
  height: 100%;
  clear:both;
}

.mainFilterContainer{
	width: 50%;
	margin: 0 auto;
	padding: 10px 0;
}

.filterLabel{
  font-weight: bold;
}

.filterContainer{
	display: block;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 10px;
	max-height:100px;
  	margin: 0 auto 10px auto;
}

.searchBtn{
	display: block;
	margin: 0 auto;
	border-color: black;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	font-size: 14pt;
}

.searchBtn:hover{
	background-color: gray;
}

.searchResultContainer{
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.searchResult{
	float:left;
	margin:5px;
}

.card {
	position: relative;
	overflow: hidden;
	height: 311px;
}

.cardControls{
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	position: relative;
	bottom: 0;
	color: white;
	transition: all 0.5s ease;
	display: flex;
	align-items:center;
	justify-content: center;
}

.card:hover .cardControls {
    background-color: rgba(5,5,5,0.9);
    bottom: 50px;
    z-index: 5;
}

input[type='text']{
  border-radius: 5px;
  padding-left: 2px;
}

input[type='checkbox']{
	display: none;
}

input[type='checkbox'] + label span{
	display:inline-block;
	width: 19px;
	height: 19px;
	margin:-1px 4px 0 0;
    vertical-align:middle;
	background: url('../Media/check_radio_sheet.png') left top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../Media/check_radio_sheet.png') -19px top no-repeat;
}

select{
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 2px;
  height: 100%;
}

h3 {
	text-align: center;
}

.clear{
	clear:both;
}

.ctrlLabel{
	display: inline-block;
	vertical-align: middle;	
}

.favImg{
	background-image: url('../Media/favorites.png');
	background-position: 0 24px;
	width: 25px;
	height: 24px;
	margin-right: 20px;
}

.favImg:hover{
	background-position: 0 0;
}

.addImg{
	background-image: url('../Media/plus.png');
	width: 25px;
	height: 25px;
	background-position: 0 25px;
	margin-right: 20px;
}

.addImg:hover{
	background-position: 0 0;
}

.subImg{
	background-image: url('../Media/minus.png');
	width: 25px;
	height: 7px;
	background-position: 0 7px;
}

.subImg:hover{
	background-position: 0 0;
}