<div class="searchContainer" ng-controller="searchController"> 
            <div class='mainFilterContainer'>  
                <h3>Card Search Filters</h3>         
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="filterLabel">Color: </label>
                            <label ng-repeat="color in colorFilter">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="{{color.name}}" value="" ng-model="color.selected"/>{{color.name}}</label>
                                </div>
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <label class="filterLabel">Rarity: </label>
                            <label ng-repeat="rarity in rarityFilter">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="{{rarity.name}}"  value="" ng-model="rarity.selected"/>{{rarity.name}}</label>
                                </div>
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <label class="filterLabel">Type: </label>
                            <label ng-repeat="type in typeFilter">
                                <div class="checkbox">
                                    <label><input type="checkbox" id='{{type.name}}' value="" ng-model="type.selected"/>{{type.name}}</label>
                                </div>
                            </label>
                        </div>                    
                        <div class="col-xs-12">
                            <label class="filterLabel">Format: </label>
                            <label ng-repeat="format in formatFilter">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" id="{{format.name}}" ng-model="format.selected"/>{{format.name}}</label>
                                </div>
                            </label>
                        </div>    
                        <div class="col-xs-12">
                            <label class="filterLabel">Status: </label>
                            <label ng-repeat="legality in legalityFilter">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" id="{{legality.name}}" ng-model="legality.selected"/>{{legality.name}}</label>
                                </div>
                            </label>
                        </div> 
                        <div class="col-xs-12">
                            <label class="filterLabel" for='setName' style='vertical-align: top;'>Set Name:</label>
                            <select id="setName" class="form-control" multiple>
                                <option value=""></option>
                                <option ng-repeat="set in sets" value="set.id">{{set.name}}</option>
                            </select>
                        </div>
                        <div class='col-xs-12'>
                            <label class="filterLabel">Card Subtype: </label>
                            <input type="text" class="form-control" ng-model="subTypeFilter"/>
                        </div>
                        <div class='col-xs-12'>
                            <label class="filterLabel">Card Supertype: </label>
                            <input type="text" class="form-control" ng-model="superTypeFilter"/>
                        </div>
                        <div class='col-xs-12'>
                            <label class="filterLabel">Card Name: </label>
                            <input type="text" class="form-control" ng-model="nameFilter"/>
                        </div>
                    <input type='button' class='searchBtn' ng-click='cardSearch()' value='Search'/>
                    
            </div>
            <div class='searchResultContainer'>
                <div class='searchResult' ng-repeat='result in searchResults'>
                    <div class='card'>
                        <img ng-src="{{getImageSource(result.editions)}}"/>
                        <div class='cardControls' ng-controller="inventoryController">
                            <div class='favImg ctrlLabel'></div>
                            <div class='addImg ctrlLabel' ng-click="addCardData(result.editions[0].multiverse_id)"></div>
                            <div class='subImg ctrlLabel' ng-click="subCardData(result.editions[0].multiverse_id)"></div>
                            <div class='countBox ctrlLabel'><input class="adjCountText" type="text" ng-model="requestData.count" /></div>
                        </div>
                    </div>                    
                </div>
                <br class="clear"/>
            </div>
        </div>